{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb/whitespace",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "trailingComma": "es5",
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "semi": true,
        "singleQuote": true
      }
    ]
  }
}
